{% extends "navbar_org.html" %}
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Add Event
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/addevent.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="container">
        <h1>Create Event</h1>
        <form method="POST" enctype="multipart/form-data" class="first">
            {% csrf_token %}
            <div class="firs">
                Event Name: <br>{{ form.eventName }} <br>
                Description: <br>{{ form.details }}
            </div>
        </form>
        <form method="POST" enctype="multipart/form-data" class="half">
            {% csrf_token %}
            <div class="hal">
                Location: {{ form.location }}<br>
                Date Start: {{ form.start }}<br>
                Date End: {{ form.end }}<br>
                Upload PubMat: {{ form.images }}<br>
                {{ form.errors }}
                <button type="submit" class="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock %}
</body>

</html>
