{% load static %}
{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/event_lightbox.css' %}">
</head>
<body>
    <!-- Lightbox content for each event added sa org -->

    {% for event in events %}
        <div id="{{ event.eventID }}Lightbox" style="display: none;" class="lightbox">
            <div class="lightbox-content">
                {% if event.images %}
                    <img src="{{ event.images.url }}" alt="{{ event.eventName }}">
                {% else %}
                    <!-- Placeholder image sa empty -->
                    <img src="{% static 'images/empty.png' %}" alt="Placeholder">
                {% endif %}

                <!-- Other contents here..... -->
                <p>{{ event.eventName }}</p>
                <p>Organizer: {{ event.organizer }}</p>
                <p>Start: {{ event.start }}</p>
                <p>End: {{ event.end }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Details: {{ event.details }}</p>

                <div class="action-btns">
                    <div class="bookmark-contain">
                        {%  if request.session.user_id|has_bookmarked:event.eventID %}
                            <form method="post" action="{% url 'remove_bookmark_event' event_id=event.eventID %}">
                                {% csrf_token %}
                                <button type="submit">Remove from bookmarks</button>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'bookmark_event' event_id=event.eventID %}">
                                {% csrf_token %}
                                <button type="submit">Add to bookmarks</button>
                            </form>
                        {% endif %}
                    </div>


                    <div class="options-container">
                        <div class="options-button
                                {% if request.session.user_id|has_rsvped_going:event %}
                                    {% if event.end < now or event.start <= now %}
                                        doneclass_txt
                                    {% else %}
                                        yesclass_txt
                                    {% endif %}
                                {% elif request.session.user_id|has_rsvped_not_going:event %}
                                    {% if event.end < now or event.start <= now %}
                                        doneclass_txt
                                    {% else %}
                                        noclass_txt
                                    {% endif %}
                                {% else %}
                                    {% if event.end < now or event.start <= now %}
                                        doneclass_txt
                                    {% else %}
                                        non_txt
                                    {% endif %}
                                {% endif %}"
                                onclick="toggleOptions()">
                            <button id="rsvpButtonText" {% if event.end < now or event.start <= now %}disabled{% endif %}>
                                {% if request.session.user_id|has_rsvped_going:event %}
                                    {% if event.end < now %}
                                        Went
                                    {% elif event.start <= now %}
                                        Event is now underway
                                    {% else %}
                                        Going
                                    {% endif %}
                                {% elif request.session.user_id|has_rsvped_not_going:event %}
                                    {% if event.end < now %}
                                        Did not attend
                                    {% elif event.start <= now %}
                                        Event is now underway
                                    {% else %}
                                        Not Going
                                    {% endif %}
                                {% else %}
                                    {% if event.end < now %}
                                        Event Ended
                                    {% elif event.start <= now %}
                                        Event is now underway
                                    {% else %}
                                        RSVP
                                    {% endif %}
                                {% endif %}
                            </button>
                        </div>

                        <div class="options-menu">
                            <div class="option
                                {% if request.session.user_id|has_rsvped_going:event %}
                                    yesclass
                                {% else %}
                                    non
                                {% endif %}"
                                onclick="RSVPyes({{ event.eventID }},{{ event.organizer.user_id  }} , this)">
                                <button id="gobtn">Going</button>
                            </div>

                            <hr>

                            <div class="option
                                {% if request.session.user_id|has_rsvped_not_going:event %}
                                    noclass
                                {% else %}
                                    non
                                {% endif %}"
                                onclick="RSVPno({{ event.eventID }}, this)">
                                <button>Not Going</button>
                            </div>
                        </div>
                    </div>
                </div>


                <button onclick="closeLightbox('{{ event.eventID }}Lightbox')">X</button>

            </div>
        </div>

    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Lightbox openscript uwu -->
    <script>
        // Function to open the event lightbox
        function openViewEventLightbox(eventID) {
            console.log("Button clicked");  // Add this line for debugging
            document.getElementById(eventID + "Lightbox").style.display = "block";
        }

        // Function to close the event lightbox
        function closeLightbox(lightboxID) {
            document.getElementById(lightboxID).style.display = "none";
        }

        //Function to open optionsMenu when RSVP button is clicked
        let currentOptionsMenu = null;

        function toggleOptions() {
            const optionsMenu = event.currentTarget.nextElementSibling;

            // Close the previously open options menu
            if (currentOptionsMenu && currentOptionsMenu !== optionsMenu) {
                currentOptionsMenu.classList.remove('show');
            }

            // Toggle the options menu of the clicked post
            optionsMenu.classList.toggle('show');
            currentOptionsMenu = optionsMenu;
        }

        // Close the menu if the user clicks outside of it
        document.addEventListener('click', function (event) {
            const optionsContainer = document.querySelector('.options-container');
            const optionsMenus = document.querySelectorAll('.options-menu');

            if (!optionsContainer.contains(event.target)) {
                // Loop through all options menus and close them if they are not contained in the clicked element's parent hierarchy
                optionsMenus.forEach(function (optionsMenu) {
                    if (!optionsMenu.closest('.options-container').contains(event.target)) {
                        optionsMenu.classList.remove('show');
                    }
                });
            }
        });

        function RSVPyes(eventId, orgID, element) {
            // Get the CSRF token from the cookie
            const csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '/rsvp_yes/' + orgID + '/' + eventId + '/',
                method: 'POST',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    // Update CSS and remove click event
                    $(element).removeClass('noclass').addClass('yesclass');

                    // Refresh the page
                    location.reload();
                },
                error: function (error) {
                    console.error('Error in selecting response', error);
                }
            });
        }

        function RSVPno(eventId, element) {
            // Get the CSRF token from the cookie
            const csrftoken = getCookie('csrftoken');

            $.ajax({
                url: '/rsvp_no/' + eventId + '/',
                method: 'POST',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    // Update CSS and remove click event
                    $(element).removeClass('yesclass').addClass('noclass');

                    // Refresh the page
                    location.reload();
                },
                error: function (error) {
                    console.error('Error in selecting response', error);
                }
            });
        }

        // Function to get the CSRF token from the cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Check if the cookie name matches
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
</body>
</html>