<!DOCTYPE html>
{% load static %}
{% load custom_filters %}

<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    {% block styles %}

    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>

    <header class="navbar">

        <div class="logo_studentnav">
            <a href="{% url 'student_home' %}"><img class="logo" src="{% static 'images/evelogo.png' %}" alt="EvE Logo"></a>
        </div>

        <div class="box-ul-nav">

            <nav>
                    <h4 class="welcome">Welcome {{ username }}!</h4>
                <ul class="navigation">
                    <li><a href="{% url 'student_event_view' %}">Events</a></li>
                    <li><a href="{% url 'org_list' %}">Organizations</a></li>
                    <li><a href="{% url 'student_view_announcements' %}">Updates from Orgs</a></li>
                    <li><a href="#">News</a></li> <!--I added 'Updates from Orgs in case News is actually a different feature'-->
                    <li><a href="{% url 'student_notifications' %}">
                        Notifications
                        {% if 'user_id' in request.session and 'username' in request.session %}
                            {% with user_id=request.session.user_id %}
                                {% with notification_count=user_id|student_get_unread_notification_count %}
                                    {% if notification_count %}
                                        <span class="student-notification-badge">{{ notification_count }}</span>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </a></li>

                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'logout' %}" class="logout-button">Log Out</a></li>
                </ul>
                <div class="user-links">

                </div>
            </nav>
        </div>
    </header>


    {% block content %}
    {% endblock %}

</body>
</html>
