<!DOCTYPE html>
{% load static %}
{% load custom_filters %}

<html lang="en">
<head>

    <meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    {% block styles %}

    {% endblock %}
    <title>{% block title %}
        {% endblock %}</title>

</head>
<body>

    <header class="navbar">
            <div><a href="{% url 'org_home' %}"><img class="logo" src="{% static 'images/evelogo.png' %}" alt="EvE Logo"></a></div>
        <div class="box-ul-nav">

            <nav>
                <ul class="navigation">
                    <li><a href="{% url 'org_event_list' %}">Events</a></li>
                    <li><a href="{% url 'org_announce_list' %}">Announcements</a></li>
                    <li><a href='#'>RSVP</a></li>
                    <li><a href="{% url 'pricing_org' %}">Pricing</a></li>
                    <a href="{% url 'org_notifications' %}" class="notification-link">
                        Notifications
                        {% if 'user_id' in request.session and 'username' in request.session %}
                            {% with user_id=request.session.user_id %}
                                {% with notification_count=user_id|get_unread_notification_count %}
                                    {% if notification_count %}
                                        <span class="notification-badge">{{ notification_count }}</span>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% else %}
                            <p></p>
                        {% endif %}
                    </a>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="{% url 'verify_home' %}">Verification</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
                <div class="user-links">

                </div>
            </nav>
        </div>
    </header>


    {% block content %}
    {% endblock %}

</body>
</html>
