{% extends "navbar_org.html" %}

{% block title %}
    Events
{% endblock %}

{% load static %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="button-container">
                <a href="{% url 'add_event' %}" class="scheduler-button">Add New Event</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Details</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Location</th>
                        <th>Images</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.eventName }}</td>
                            <td>{{ event.details }}</td>
                            <td>{{ event.start }}</td>
                            <td>{{ event.end }}</td>
                            <td>{{ event.location }}</td>
                            <td>{{ event.images }}</td>

                            <td class="action-buttons">
                                <a href="{% url 'edit_event' event_id=event.eventID %}" class="edit-button"><button>Edit</button></a>
                                <form method="post" action="{% url 'org_event_list' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_event_id" value="{{ event.eventID }}">
                                    <button type="submit" class="delete-button">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">No events available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
