{% extends "navbar_org.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/org_view_rsvps.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}
<h1 id="title">Event RSVPs</h1>
    <main class="main-con">
        <!-- end of div event-con-->
        <div class="content-class">
            <div class="gen-data">
                <div class="rsvp-counts">
                    <ul>
                    <li><p>RSVP COUNT</p> </li> <hr>
                    <li>
                        <p>Going</p>
                        <p class="val">{{ going_count }}</p>
                    </li> <hr>
                    <li>
                        <p>Not Going</p>
                        <p class="val">{{ not_going_count }}</p>
                    </li>
                    </ul>
                </div>
            </div>
            <br>

            <div class="gen-data">
                <div class="attend">
                    <p id="attendee">Attendees:</p>
                    {% if attendees %}
                         <table>
                             <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                 </tr>
                             </thead>
                             <tbody>
                                 {% for attendee in attendees %}
                                 <tr>
                                     <td>{{ attendee.name }}</td>
                                     <td>{{ attendee.email }}</td>
                                 </tr>
                                 {% endfor %}
                             </tbody>
                         </table>
                    {% else %}
                        <p class="val">The attendee list is currently empty.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>