{% extends "navbar_org.html" %}
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Events
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/orgeventlist.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}
    <main>
        <div class="container">
            <div class="button-container">
                <a href="{% url 'add_event' %}" class="scheduler-button">Create New Event</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Event Name</th>
                        <th>Details</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Location</th>
                        <th>Images</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.eventName }}</td>
                            <td>{{ event.details }}</td>
                            <td>{{ event.start }}</td>
                            <td>{{ event.end }}</td>
                            <td>{{ event.location }}</td>
                            <td>{{ event.images }}</td>

                            <td class="action-buttons">
                                <a href="{% url 'org_view_rsvps' event_id=event.eventID %}" class="view-rsvps"><button>View RSVPs</button></a><br>
                                <a href="{% url 'edit_event' event_id=event.eventID %}" class="edit-button"><button>Edit</button></a>
                                <form method="post" action="{% url 'org_event_list' %}" onsubmit="return confirmDelete()">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_event_id" value="{{ event.eventID }}">
                                    <button type="submit" class="delete-button">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">No events available</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this post?");
        }
    </script>
{% endblock %}
</body>
</html>