{% extends "navbar_student.html" %}
{% load static %}

{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Organizations
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/orglist.css' %}">
    {% endblock %}

</head>
<body>
{% block content %}
<div class="thing">
    <div class="listorgs_contain">
        <h2>Verified School Organizations</h2>
         <div class="container">
            {% for org in org_lists %}
            <div class="org_list">
                <div class="pfp">
                    {% if org.profile_pic %}
                        <img src={{org.profile_pic.url}} alt="{{ org.orgName }} Profile Pic">
                    {% else %}
                        <img src="{% static 'images/empty.png' %}" alt="Placeholder">
                    {% endif %}
                </div>
                <a href="{% url 'org_profile' org_id=org.orgName.user_id %}"><h3>{{ org.orgName }}</h3></a>

                {%  if request.session.user_id|is_following:org.orgName %}
                    <form method="post" class="unfollow" action="{% url 'unfollow_org_listview' org_id=org.orgName.user_id %}">
                        {% csrf_token %}
                        <button type="submit">Unfollow</button>
                    </form>
                {% else %}
                    <form method="post" class="follow" action="{% url 'follow_org_listview' org_id=org.orgName.user_id %}">
                        {% csrf_token %}
                        <button type="submit">Follow</button>
                    </form>
                {% endif %}

                <!-- WAITING ON PROFILE, PAREHA ON NAKO SA EVENT LIST PARA NICE-->
                <!-- maybe clickable sad nya naay lightbox mugawas like eventlist-->
            </div>
            {% empty %}
                <p>No Organizations Registered</p>
            {% endfor %}
         </div>
    </div>
{% endblock %}
</div>
</body>
</html>
