{% extends "navbar_student.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Organizations
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/orglist.css' %}">
    {% endblock %}

</head>
<body>
{% block content %}
    <div class="container">
        <h2>Verified School Organizations</h2>
        {% for org in org_lists %}
        <div class="org_list">
            <div class="pfp">
                {% if org.profile_pic %}
                    <img src={{org.profile_pic.url}} alt="{{ org.orgName }} Profile Pic">
                {% else %}
                    <img src="{% static 'images/empty.png' %}" alt="Placeholder">
                {% endif %}
            </div>
            <a href="{% url 'org_profile' org_id=org.orgName.user_id %}"><h3>{{ org.orgName }}</h3></a>
            <button>Follow</button>
            <!-- WAITING ON PROFILE, PAREHA ON NAKO SA EVENT LIST PARA NICE-->
            <!-- maybe clickable sad nya naay lightbox mugawas like eventlist-->
        </div>
        {% empty %}
            <p>No Organizations Registered</p>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
