{% extends "navbar_org.html" %}

{% block title %}
    Org Profile
{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/org_homeStyle.css' %}">
{% endblock %}

<body>
{% block content %}
<div class="profile">
    {% for profile in profile_org %}
    {% if profile_org %}
        {% if profile.profile_pic.url  %}
            <img src="{{ profile_org.profile_pic.url }}" alt="{{ profile_org.organization }}">
        {% else %}
            <img src="{% static 'images/empty.png' %}" alt="Placeholder">
        {% endif %}
        <!-- Other contents here..... -->
        <p>Organization: {{ profile.organization }}</p>
        <p>Description: {{ profile.details }}</p>
        <p>Email: {{ profile.email }}</p>
        <p>Contact: {{ profile.contact }}</p>
    {% else %}
        <p><img src="{% static 'images/empty.png' %}" alt="Empty"></p>
    {% endif %}
    {% endfor %}
</div>

<a href="{% url 'update_profile' %}"><button>Update Profile</button></a>

{% endblock %}
</body>
