<!DOCTYPE html>
{% extends "navigation_bar.html" %}


{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
    {% endblock %}
</head>
<body>
    {%  block content %}
    <div class="ban1">
        <h1>Explore. View. Engage.</h1>
        <h3> Follow organizations that interest you, stay up to date on the latest events and engage with your peers!</h3>
    </div>

    <div class="fororgs">
        <h2>FOR ORGANIZATIONS</h2>

        <div class="float-left">
             <div> <img class="create" src="{% static 'images/o_create.png' %}" alt="'create' symbol"> </div>
            <p class="desc">Create posts, events, and event updates</p>
        </div>

        <div class="float-left">
            <div> <img class="create" src="{% static 'images/o_view.png' %}" alt="'view' symbol"> </div>
            <p class="desc">View users' RSVPs</p>
        </div>

        <div class="float-left">
            <div> <img class="create" src="{% static 'images/o_ping.png' %}" alt="'view' symbol"> </div>
            <p class="desc">Write updates and ping notifications</p>
        </div>

    </div>

    <div class="forstudents">
        <h2>FOR STUDENTS</h2>

        <div class="float-left">
            <div> <img class="create" src="{% static 'images/s_follow.png' %}" alt="'view' symbol"> </div>
            <p class="desc">Follow pages that interest you</p>
        </div>

        <div class="float-left">
            <div> <img class="create" src="{% static 'images/s_rsvp.png' %}" alt="'view' symbol"> </div>
            <p class="desc">RSVP events</p>
        </div>

        <div class="float-left">
            <div> <img class="create" src="{% static 'images/s_filter.png' %}" alt="'view' symbol"> </div>
            <p class="desc">Filter events in your feed and receive notifications</p>
        </div>

    </div>

    <script src="{% static 'js/script.js' %}"></script>
    {% endblock content %}
</body>
</html>