<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="static/css/signup.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <title>Organization SignUp</title>
</head>
<body>
    <a href="{% url 'home_view' %}"><img class="logo" src="{% static 'images/evelogo.png' %}" alt="EvE Logo"></a>
    <!--<h2>Signup</h2>-->
    <form method="POST">
        {% csrf_token %}
        {{ form.email }} <br>
        {{ form.username }} <br>
        {{ form.password }} <br>
        {{ form.user_type }}
        {{ form.organization_name }} <br>

        <button class="userbtn" type="submit">SIGN UP </button>
        </form>

        <div class="line-wrapper">
            <div class="line"></div>
                <span class="text">or</span>
            <div class="line"></div>
        </div>


    <a href="{% url 'signup_student' %}"> <button class="orgbtn">SIGN UP AS STUDENT </button> </a>


    <p class="txtlogin">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>
