<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="static/css/signup.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <title>Signup</title>
</head>
<body>
    <img class="logo" src="{% static 'images/evelogo.png' %}" alt="EvE Logo">
    <!--<h2>Signup</h2>-->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="line-wrapper">
            <div class="line"></div>
                <span class="text">or</span>
            <div class="line"></div>
        </div>
        <button class="userbtn" type="submit">SIGN UP </button>
        </form>


    <p class="txtlogin">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>
