{% extends "navbar_student.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/error404.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="content">
        <img src="{% static 'images/error404.png' %}" alt="error404">
        <h1>Oops. Sorry, we couldn't find the page you're looking for.</h1>
    </div>
{% endblock %}

</body>
</html>