{% extends "navbar_student.html" %}
{% load static %}

{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Profile
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/orgprofileview.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="thing">
        <div class="profile">

            {% if org_profile %}
                <div class="pfp">
                    {% if org_profile.profile_pic %}
                        <img src={{org_profile.profile_pic.url}} alt="">
                    {% else %}
                        <img src="{% static 'images/empty.png' %}" alt="Placeholder">
                    {% endif %}
                </div>
                <!-- Other contents here..... -->
                <p id="orglabel"><strong>{{ org_profile.organization.organization_name }}</strong></p>
                <p>Description: {{ org_profile.details }}</p>
                <p>Email: {{ org_profile.email }}</p>
                <p>Contact: {{ org_profile.contact }}</p>
            {% endif %}

        </div>

        {%  if request.session.user_id|is_following:org_profile.organization %}
            <form method="post" action="{% url 'unfollow_organization' org_id=org_profile.organization.pk %}">
                {% csrf_token %}
                <button type="submit">Unfollow</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'follow_organization' org_id=org_profile.organization.pk %}">
                {% csrf_token %}
                <button type="submit">Follow</button>
            </form>
        {% endif %}

        <div class="follow_count">
            {% with follower_count=org_profile.organization.followers.count %}
                <p>
                    {{ follower_count }}
                    {% if follower_count == 1 %}
                        Follower
                    {% else %}
                        Followers
                    {% endif %}
                </p>
            {% endwith %}
        </div>
    {% endblock %}
</div>
</body>
</html>