{% extends "navbar_student.html" %}
{% load static %}
{% load custom_filters %}

<head>

    {% block title %}
    Student Home
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_homeStyle.css' %}">
    {% endblock %}
</head>


<body>
{% block content %}
    <main>
        <div class="contain-all">
            <section class="textpost-contain">
                <h2 id="a-title">Announcements</h2>
                <div class="announce">
                    <p>WIP</p>

                    <div>
                        <p> <img class="emptyImg" src="{% static 'images/empty.png' %}" alt="Empty" width="25%"> </p>
                    </div>
                </div>
            </section>

            <section class="main-contain">
                <h2 id="e-title">Events from Organizations You Follow</h2>
                <div class="event-con">
                    {% if custom_events %}
                        {% for ce in custom_events %}
                            <div class="event">
                                <p class="title">
                                    <a href="#" onclick="openViewEventLightbox('{{ ce.eventID }}')" class="ce-link">
                                        {{ ce.eventName }}
                                    </a>
                                </p>
                                <p>Organizer: {{ ce.organizer }}</p>
                                <p>Start: {{ ce.start }}</p>
                                <p>End: {{ ce.end }}</p>
                                <p>Location: {{ ce.location }}</p>
                                <p>Details: {{ ce.details }}</p>
                            </div>
                            {% endfor %}
                    {% else %}
                        <div>
                            <p> <img class="emptyImg" src="{% static 'images/empty.png' %}" alt="Empty" width="25%"> </p>
                        </div>
                    {% endif%}
                </div>
            </section>

            <section class="bookmark-contain">
                <h2 id="b-title">Bookmarked Events</h2>
                <div class="ongoing">
                    {% if bookmarks %}
                        {% for bookmark in bookmarks %}
                            <a href="#" onclick="openViewEventLightbox('{{ bookmark.event.eventID }}')" class="bookmark-link">
                                <div class="bookmarks" >
                                    <div class="eve-name">{{ bookmark.event.eventName }}</div>
                                    <div class="deets">
                                        <p>Organizer: {{ bookmark.event.organizer.organization_name }}</p>
                                        <p>Starts on: <br>
                                            {{ bookmark.event.start|date:"F j, Y" }}<br>
                                            {{ bookmark.event.start|time:"g:i A" }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div>
                            <p> <img class="emptyImg" src="{% static 'images/empty.png' %}" alt="Empty" width="25%"> </p>
                        </div>
                    {% endif%}
                </div>
            </section>
        </div>

        <!-- Lightbox content for each event added sa org -->

        {% for event in events %}
            <div id="{{ event.eventID }}Lightbox" style="display: none;" class="lightbox">
                <div class="lightbox-content">
                {% if event.images %}
                    <img src="{{ event.images.url }}" alt="{{ event.eventName }}">
                {% else %}
                    <!-- Placeholder image sa empty -->
                    <img src="{% static 'images/empty.png' %}" alt="Placeholder">
                {% endif %}
                <!-- Other contents here..... -->
                        <p>{{ event.eventName }}</p>
                        <p>Organizer: {{ event.organizer }}</p>
                        <p>Start: {{ event.start }}</p>
                        <p>End: {{ event.end }}</p>
                        <p>Location: {{ event.location }}</p>
                        <p>Details: {{ event.details }}</p>

                    <div>

                    {%  if request.session.user_id|has_bookmarked:event.eventID %}
                        <form method="post" action="{% url 'remove_bookmark_event' event_id=event.eventID %}">
                            {% csrf_token %}
                            <button type="submit">Remove from bookmarks</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'bookmark_event' event_id=event.eventID %}">
                            {% csrf_token %}
                            <button type="submit">Add to bookmarks</button>
                        </form>
                    {% endif %}

                    <button>RSVP</button>

                    </div>
                <button onclick="closeLightbox('{{ event.eventID }}Lightbox')">X</button>
                </div>
            </div>
        {% endfor %}



        <script src="{% static 'js/script.js' %}"></script>
        <!-- Lightbox openscript uwu -->
        <script>
            // Function to open the event lightbox
            function openViewEventLightbox(eventID) {
                console.log("Button clicked");  // Add this line for debugging
                document.getElementById(eventID + "Lightbox").style.display = "block";
            }

            // Function to close the event lightbox
            function closeLightbox(lightboxID) {
                document.getElementById(lightboxID).style.display = "none";
            }
        </script>
    </main>
{% endblock %}
</body>
