{% extends "navbar_student.html" %}
{% load static %}

<head>

    {% block title %}
    Student Home
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_homeStyle.css' %}">
    {% endblock %}
</head>


<body>
{% block content %}
    <main>

        <section class="bookmarks">
            <div class="ongoing">
                <h2>Bookmarked Events</h2>
                {% for event in events %}
                <div class="bookmarks">
                    <h3>{{ event.eventName }}</h3>
                    <p>Organizer: {{ event.organizer }}</p>
                </div>
                {% empty %}
                    <div> <p> <img class="emptyImg" src="{% static 'images/empty.png' %}" alt="Empty" width="25%"> </p> </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
    </body>
