{% extends "navbar_student.html" %}
{% load static %}
{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        RSVP'd Events
    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/studenteventview.css' %}">
    {% endblock %}

</head>
<body>
    {% block content %}
    <div class = "thing">
    <div class="filter">
        <h3> Filters: </h3>
        <form method="get" action="" class="filterform">
            {% csrf_token %}
            Choose Organizer: {{ form.organizer }}
            Event status: {{ form.date_filter }}
            Search by Event Name: {{ form.eventName }}
            <button type="submit">Filter</button>
        </form>
    </div>

    <section class="events">
        <h2>Events You Will Be Attending</h2>

        <div class="ongoing">
            {% for event in events %}
            <div class="event">
                <p class="title">
                    <a href="#" onclick="openViewEventLightbox('{{ event.eventID }}')">
                        {{ event.eventName }}
                    </a>
                </p>
                <p>Organizer: {{ event.organizer }}</p>
                <p>Start: {{ event.start }}</p>
                <p>End: {{ event.end }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Details: {{ event.details }}</p>
            </div>
            {% empty %}
                <div class="grid-item"> </div>
                <p><img class="emptyimg" src="{% static 'images/empty.png' %}" alt="Empty"></p>
            {% endfor %}
        </div>
    </section>

    {% include 'event_lightbox.html' %}
    </div>
{% endblock %}
</body>


</html>