{% extends "navbar_student.html" %}
{% load static %}
{% load custom_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Events
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/studenteventview.css' %}">
    {% endblock %}

</head>
<body>
    {% block content %}

    <div class="filter">
        <h3> Filters: </h3>
        <form method="get" action="" class="filterform">
            {% csrf_token %}
            Choose Organizer: {{ form.organizer }}
            Event status: {{ form.date_filter }}
            Search by Event Name: {{ form.eventName }}
            <button type="submit">Filter</button>
        </form>
    </div>

    <section class="events">
        <h2>List of Events</h2>
        <div class="ongoing">
            {% for event in events %}
            <div class="event">
                <p class="title">
                    <a href="#" onclick="openViewEventLightbox('{{ event.eventID }}')">
                        {{ event.eventName }}
                    </a>
                </p>
                <p>Organizer: {{ event.organizer }}</p>
                <p>Start: {{ event.start }}</p>
                <p>End: {{ event.end }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Details: {{ event.details }}</p>
            </div>
            {% empty %}
                <p><img src="{% static 'images/empty.png' %}" alt="Empty"></p>
            {% endfor %}
        </div>
    </section>

    <!-- Lightbox content for each event added sa org -->

{% for event in events %}
    <div id="{{ event.eventID }}Lightbox" style="display: none;" class="lightbox">
        <div class="lightbox-content">
        {% if event.images %}
            <img src="{{ event.images.url }}" alt="{{ event.eventName }}">
        {% else %}
            <!-- Placeholder image sa empty -->
            <img src="{% static 'images/empty.png' %}" alt="Placeholder">
        {% endif %}
        <!-- Other contents here..... -->
                <p>{{ event.eventName }}</p>
                <p>Organizer: {{ event.organizer }}</p>
                <p>Start: {{ event.start }}</p>
                <p>End: {{ event.end }}</p>
                <p>Location: {{ event.location }}</p>
                <p>Details: {{ event.details }}</p>

            <div>

            {%  if request.session.user_id|has_bookmarked:event.eventID %}
                <form method="post" action="{% url 'remove_bookmark_event' event_id=event.eventID %}">
                    {% csrf_token %}
                    <button type="submit">Remove from bookmarks</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'bookmark_event' event_id=event.eventID %}">
                    {% csrf_token %}
                    <button type="submit">Add to bookmarks</button>
                </form>
            {% endif %}

            <button>RSVP</button>

            </div>
        <button onclick="closeLightbox('{{ event.eventID }}Lightbox')">X</button>
        </div>
    </div>
{% endfor %}



    <script src="{% static 'js/script.js' %}"></script>
    <!-- Lightbox openscript uwu -->
    <script>
        // Function to open the event lightbox
        function openViewEventLightbox(eventID) {
            console.log("Button clicked");  // Add this line for debugging
            document.getElementById(eventID + "Lightbox").style.display = "block";
        }

        // Function to close the event lightbox
        function closeLightbox(lightboxID) {
            document.getElementById(lightboxID).style.display = "none";
        }
    </script>
{% endblock %}
</body>


</html>