{% extends "navbar_student.html" %}

{% load static %}

<head>

    {% block title %}
    Events
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eventUser_style.css' %}">
    {% endblock %}
</head>



<body>
{% block content %}
    <main>
        <div class = "filters">
        <form method="get" action="">
            {% csrf_token %}
            {{ form.organizer }}
            Search by Event Name: {{ form.eventName }}
            {{ form.date_filter }}
            <button type="submit">Filter</button>
        </form>
        </div>

        <section class="events">
            <div class="ongoing">
                <h2>Ongoing Events</h2>
                {% for event in events %}
                <div class="event">
                    <h3>{{ event.eventName }}</h3>
                    <p>Organizer: {{ event.organizer }}</p>
                    <p>Start: {{ event.start }}</p>
                    <p>End: {{ event.end }}</p>
                    <p>Location: {{ event.location }}</p>
                    <p>Details: {{ event.details }}</p>
                    <p>{{ event.images }}</p>
                </div>
                {% empty %}
                    <div> <p> <img class="logo" src="{% static 'images/empty.png' %}" alt="EvE Logo"> </p> </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
    </body>

