{% extends "navbar_org.html" %}
{% load static %}

{% block content %}
    <main>
        <div class="container">
            <div class="button-container">
                <a href="#">View Verified Orgs</a>
                <a href="{% url 'verify' %}" >Request Verification</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Organization Name</th>
                        <th>Organization</th>
                        <th>Email</th>
                        <th>Details</th>
                        <th>Account Status</th>
                        <th>Uploaded File</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org_list in org_lists %}
                        <tr>
                            <td>{{ org_list.org_Name }}</td>
                            <td>{{ org_list.orgName }}</td>
                            <td>{{ org_list.email }}</td>
                            <td>{{ org_list.details }}</td>
                            <td>{{ org_list.account_status }}</td>
                            <td>{{ org_list.upload_file }}</td>

                            <td class="action-buttons">
                                <button class="edit-button">Edit</button>
                                <button class="cancel-button">Cancel</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">No requests Pending</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
