{% extends "navbar_org.html" %}
{% load static %}


<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Verify Home
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/verifyhome.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}
    <main>
        <div class="button-container">
<!--            <a href="#">View Verified Orgs</a>-->
            <a href="{% url 'verify' %}" >Request Verification</a>
        </div>
        <div class="container1">
            <table>
                <thead>
                    <tr>
                        <th>Name of Applicant</th>
                        <th>Email</th>
                        <th>Details</th>
                        <th>Account Status</th>
                        <th>Uploaded File</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for org_list in org_lists %}
                        <tr>
                            <td>{{ org_list.nameApplicant }}</td>
                            <td>{{ org_list.email }}</td>
                            <td>{{ org_list.details }}</td>
                            <td>{{ org_list.account_status }}</td>
                            <td>{{ org_list.upload_file }}</td>
                            <td class="action-buttons">
                                <button class="cancel-button">Cancel</button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8">No requests Pending</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
</body>
</html>
