{% extends "navbar_org.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        Verification
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/verifyorg.css' %}">
    {% endblock %}
</head>

<body>
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
            <div class="btnCon">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>