body{
    background-color: #FFD6D6;
    margin:0;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    overflow: hidden;
}

h2{
    margin: 0;
    font-size: 25px;
}

h4{
    color: white;
    font-family: monospace;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.desc{
    font-size:20px;
}

.creators{
    padding: 2%;
    color: #59181E;
    background-color:#FFCFCF;
    height: 58vh;
    align-items: center;
}

.contact{
    padding: 2%;
    height: 15vh;
    color: #FFCFCF;
    background-color:#59181E;
    align-items: center;
}

.gridc {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
    grid-gap: 20px; /* Gap between grid items */
    height: 50vh;
}

    /* Style for grid items */
.gridi {
    padding: 20px;
    text-align: center;
    height: 45vh;
}

.create{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin:0;
    padding:0px;
    object-fit: cover;
}




