body{
    background-color: #ffd6d6;
    margin: 0;
    margin-bottom: 5vh;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /*height: 50vh; /* Adjust the height as needed */
}

.container {
    border: 3px solid #880b0b;
    border-radius: 30px;
    margin: 3vh auto;
    background-color: #ffbaba;
    padding: 10px;
    width: 30%;
    min-width: auto;
    text-align: left;
    font-family: monospace;
}

.container h1 {
    text-align: center;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.formgrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
}

.section {
    font-size: 15px;
    padding: 10px;
}

textarea, select, input{
    padding: 5px;
    margin-bottom: 3vh;
    margin-right: 3vh;
    box-sizing: border-box;
    border: 2px solid #880b0b; /* Set the border color and width */
    border-radius: 8px; /* Add rounded corners */
    height: 35px;
    width: 225px;
    background-color: #fdcdcd;
}

input[type="checkbox"]{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px; /* Set the width and height for the checkbox */
    height: 20px;
    border: 2px solid #333; /* Border color for the checkbox */
    background-color: #fff; /* Background color when not checked */
}

.half a{
    display: block;
    width: 400px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn{
    text-align: right;
}
button{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 30px;
    background-color: #880b0b; /* Set the button background color */
    color: white; /* Set the button text color */
    padding: 10px 15px; /* Adjust padding as needed */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.5s ease;
}
button:hover {
    background-color: #d34f57; /* Darker maroon on hover */
}

textarea{
    height: 150px;
    width: 400px;
}
