body{
    background-color: #FFD6D6;
    margin-top: 50px;
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*height: 50vh; /* Adjust the height as needed */
}

#logo {
    width: 1in;
    height: 1in;
    border-radius: 50%;
    object-fit: cover; /* This property ensures the image covers the circular container */
}

form input[type="text"],
form input[type="password"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000;
}

button {
    width: 10%; /* Adjust the width as needed */
    margin-top:30px;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px; /* Adjust the border-radius as needed */
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Optional: Add hover styles for better user experience */
button:hover {
    background-color: #FF6B78; /* Darker green color on hover, change as needed */
}