/* Add your styling for the navigation bar here */

header.navbar {
    background-color: #59181E;
    /*background-color: #000000;*/
    padding: 0px;
    padding-bottom: 0px;
    position: relative;
}



.box-ul-nav {
    width: auto;
    height: auto;
    background-color: #F1ACAC;
    border-radius: none;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    font-family: monospace;
}

.logo{
    width: 5vw;
    height: auto;
    /*max-width: 5%;*/
    border: none;
    display: block; /* Make sure the logo is a block element */
    margin: 0 auto;  /* Center the logo */
    /*margin: 0;*/
}

.logo_studentnav{
     overflow: hidden;
}



nav {
    margin-top: 0px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    padding-left: 25px;
    padding-right: 25px;
    
   
}

nav a {
    text-decoration: none;
    color: #59181E;
    font-size: 14px;
  
}

nav a:hover {
    color: #000;
}

.user-links {
    float: right;
}

.notification-link {
    position: relative;
    text-decoration: none;
    color: #000;  /* Adjust the color as needed */
}

.notification-badge {
    position: absolute;
    top: -12px;  /* Adjust the vertical position as needed */
    left: 100px;  /* Adjust the horizontal position as needed */
    background-color: red;  /* Adjust the background color as needed */
    color: #fff;  /* Adjust the text color as needed */
    font-size: 12px;  /* Adjust the font size as needed */
    border-radius: 50%;
    padding: .3em .4em;
    min-height: 1em;
    min-width: 1.1em;
}

.student-notification-badge {
    position: absolute;
    font-size:12px;
    top: 15.5%;  /* Adjust the vertical position as needed */
    left: 68.5%;  /* Adjust the horizontal position as needed */
    background-color: red;  /* Adjust the background color as needed */
    color: #fff;  /* Adjust the text color as needed */
    border-radius: 50%;
    padding: .3em .4em;
    min-height: 1em;
    min-width: 1.1em;
}

/* BODY ;-; */



@media screen and (max-width: 50rem) {
    .box-ul-nav {
        position: absolute;
        width: 80%;
        height: 100vh;
        z-index: 100;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav a {
        font-size: 1.5rem;
    }

    nav li {
        margin-top: 0.8rem;
    }

    .logo {
        width: 4rem
    }
}