/* css/student_homeStyle.css */


body{
    background-color: #FFD6D6;
    margin:0;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    /*height: 50vh; /* Adjust the height as needed */
}

.contain-all{
    display: flex;
    justify-content: center;
}


#a-title{
    margin-bottom: .9em;
}

#e-title{
    font-size: 1.7em;
    margin-bottom: 1.2em;
}

#b-title{
    margin-bottom: .9em;
}

.test{
    background-color: #F1ACAC;
}

.main-contain{
    color: #59181E;
    padding: 0;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    /*border-radius: 30px;*/
    width:60%;
    text-align: left;
    position: fixed;
    flex:1;
}

.textpost-contain {
    color: #59181E;
    background-color: #F1ACAC;
    padding: .5em 1.5em 2.5em 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*border-radius: 30px;*/
    text-align: center;
    width: 15%;
    height: 900px;
    min-width: 100px;
    white-space: nowrap;
    display: inline-block;
    position: fixed; /* fixed right */
    left:0;
}

.bookmark-contain {
    color: #59181E;
    background-color: #F1ACAC;
    padding: .5em 1.5em 2.5em 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*border-radius: 30px;*/
    text-align: center;
    width: 15%;
    height: 900px;
    min-width: 100px;
    white-space: nowrap;
    display: inline-block;
    position: fixed; /* fixed right */
    right:0;
}

.event-header{
    display: flex;
    align-items: left;
}

.pfp {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 1em 0 1em ; /* Adjust margin as needed */
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.info{
    font-size:1.1em;
}

.content{
    display: flex;
    align-items: left;
    margin-left: 4em;
    margin-top: -.6em;
}


.pubmat{
    width:12em;
    height: 12em;
    overflow: hidden;
    border-radius: 10px;
    margin: 1em; /* Adjust margin as needed */
    display: flex; /* Use flexbox to align items vertically */
    align-items: center; /* Center items vertically */
}

.pubmat img{
    width: 12em;
    height: 12em;
    object-fit: cover;
    border-radius: 10px;
}

.content-txt{
    margin-left: 1.5em;
    align-items: center;
}

.title{
    font-size: 1.2em;
    font-weight: bold;
    color: #59181E;
}

a{
    text-decoration: none;
    cursor: pointer; /* Optional: Change cursor style to indicate a clickable link */
    color: #59181E;
}

a:hover {
    /* Optional: Styles for when the link is hovered */
    text-decoration: underline; /* Add underline on hover if desired */
    color: #FFD6D6;
}

.event{
    color: white;
    background-color: #f98d8d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: auto;
    padding:1em;
    word-wrap: break-word; /* This allows long words to break and wrap onto the next line */
    overflow: hidden;     /* This hides any content that exceeds the dimensions of the container */
    max-width: 100%;      /* Adjust as needed to limit the width of the text */
    font-size: 1em;
    color: #59181E;

    display: block; /* "block" takes the full width */
    text-align: left; /* align the content inside each event div to the left */
    margin: 0 9em 1em 9em ; /* center each event div horizontally */
}

.ce-link{
    font-size: 1.3em;
}

.bookmarks{
    color: white;
    background-color: #880B0B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 8em;
    padding:1em;
    margin: 0 .8em .4em .8em;
    word-wrap: break-word; /* This allows long words to break and wrap onto the next line */
    overflow: hidden;     /* This hides any content that exceeds the dimensions of the container */
    max-width: 100%;      /* Adjust as needed to limit the width of the text */
}

.event-con{
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 70vh; /* Set a maximum height for the container */
    border-radius: 15px;
}

.ongoing{
    padding-top: .5em;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 65vh; /* Set a maximum height for the container */
    border-radius: 15px;
}

/********************/
.announce{
    padding-top: .5em;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 65vh; /* Set a maximum height for the container */
    border-radius: 15px;
}

.announce-header{
    height: 6em;
    border-bottom: 2px solid #880B0B;
}

.announce-deets{
    color: white;
    background-color: #880B0B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 15em;
    padding: 0.5em 1em 1em 1em;
    margin: 0em .8em .4em .8em;


}

.announce-deets p{
    overflow-wrap: break-word;
    overflow: hidden;     /* This hides any content that exceeds the dimensions of the container */
    max-width: 100%;      /* Adjust as needed to limit the width of the text */
}

.tp-txt{
    text-align:left;
    height:3em;
    overflow-wrap: break-word;
    overflow: hidden;     /* This hides any content that exceeds the dimensions of the container */
    max-width: 100%;      /* Adjust as needed to limit the width of the text */
}

/***********************/
.eve-name{
    font-weight: bold;
    font-size: 1.1em;
}

/* Remove underline from all anchor elements */
.bookmark-link {
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.bookmark-link:hover {
    /* Styles for when the link is hovered */
    color: #880B0B;
    background-color: #FFD6D6;
    border: 1px solid #880B0B;
}

/* START--ONGOING: scrollbar css customized*/

/* WebKit (Chrome, Safari) */
.ongoing::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
}

.ongoing::-webkit-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* Firefox */
.ongoing {
    scrollbar-width: thin; /* Set the width of the scrollbar */
}

.ongoing::-moz-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* scrollbar css customized*/

/* WebKit (Chrome, Safari) */
.ongoing::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
}

.ongoing::-webkit-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* Firefox */
.ongoing {
    scrollbar-width: thin; /* Set the width of the scrollbar */
}

.ongoing::-moz-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}
/* END--0NGOING: scrollbar css customized*/

/* START--ANNOUNCE: scrollbar css customized*/

/* WebKit (Chrome, Safari) */
.announce::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
}

.announce::-webkit-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* Firefox */
.announce {
    scrollbar-width: thin; /* Set the width of the scrollbar */
}

.announce::-moz-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* scrollbar css customized*/

/* WebKit (Chrome, Safari) */
.announce::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
}

.announce::-webkit-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* Firefox */
.announce {
    scrollbar-width: thin; /* Set the width of the scrollbar */
}

.announce::-moz-scrollbar-thumb {
    background-color: #FFD6D6; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}
/* END--ANNOUNCE: scrollbar css customized*/


/* START--EVENT-CON: scrollbar css customized*/

/* WebKit (Chrome, Safari) */
.event-con::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
}

.event-con::-webkit-scrollbar-thumb {
    background-color: #880B0B; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* Firefox */
.event-con {
    scrollbar-width: thin; /* Set the width of the scrollbar */
}

.event-con::-moz-scrollbar-thumb {
    background-color: #880B0B; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* scrollbar css customized*/

/* WebKit (Chrome, Safari) */
.event-con::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
}

.event-con::-webkit-scrollbar-thumb {
    background-color: #880B0B; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}

/* Firefox */
.event-con {
    scrollbar-width: thin; /* Set the width of the scrollbar */
}

.event-con::-moz-scrollbar-thumb {
    background-color: #880B0B;; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Set the border radius of the thumb */
}
/* END--EVENT-CON: scrollbar css customized*/

/* LIGHTBOX */

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1acac;
    padding: 20px;
    text-align: center;
}

.lightbox img {
    max-width: 50%;
    max-height: 50%;
    border: 2px solid white; /* waito border */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


.lightbox button{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    background-color: #880b0b; /* Set the button background color */
    color: white; /* Set the button text color */
    padding: 10px 15px; /* Adjust padding as needed */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.5s ease;
}
.lightbox button:hover {
    background-color: #d34f57; /* Darker maroon on hover */
}


/* RSVP Buttons */

.yesclass_txt button{
    background-color: #12ED7A; /* green-ish*/
    color: #116311; /* darker green*/
}

.yesclass_txt button:hover {
    background-color: #63F3A8; /* green-ish*/
    color: #147714; /* darker green*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.noclass_txt button{
    background-color:  #FF0047; /* pinkish */
    color: #470014;
}

.noclass_txt button:hover {
    background-color:#FF1A5A;
    color: #64001C;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
     font-weight: bold;
}

.yesclass button{
    background-color: #12ED7A; /* green-ish*/
    color: #116311; /* darker green*/

}

.yesclass button:hover {
    background-color: #63F3A8; /* green-ish*/
    color: #147714; /* darker green*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.noclass button{
    background-color: #FF0047; /* pinkish */
    color: #470014;
}

.noclass button:hover {
    background-color:#FF1A5A;
    color: #64001C;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
     font-weight: bold;
}

.non button{
    background-color: white;
    color: black;
}

.non button:hover{
    background-color: #E7E4E8;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.deets{
    word-wrap: break-word; /* This allows long words to break and wrap onto the next line */
    overflow: hidden;     /* This hides any content that exceeds the dimensions of the container */
    max-width: 100%;      /* Adjust as needed to limit the width of the text */
}

/*********************/
.options-container {
    width: 30%;
    max-width: 30%;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #333;
    margin: 1.5px 0;
    border-radius: 50%;
}

.options-menu {
    display: none;
    position: absolute;
    top: 65%;
    left: -9.5em;
    width: 8em;
    text-align:center;
    padding:1em 1em .5em 1em;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #59181E;
    background-color:#FFE3E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.option {
    margin-bottom:.5em;
    cursor: pointer;
}

hr{
   border: .001em solid #59181E;
}

.options-menu.show {
    display: block;
}