body{
    background-color: #FFD6D6;
    margin:0;
    margin-bottom: 5vh;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*height: 50vh; /* Adjust the height as needed */
}

.event-contain {
    margin: 1em 30% 1em 30%;
    padding:1em;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 80vh; /* Set a maximum height for the container */
}

.inner-con{
    background-color:#FFE3E3;
    border-radius:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    align-items: left;
    padding: 1em;
}

.event-contain-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1acac;
    padding: 20px;
    text-align: center;
}

.inner-con img {
    max-width: 50%;
    max-height: 50%;
    border: 2px solid white; /* waito border */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


.event-contain button{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    background-color: #880b0b; /* Set the button background color */
    color: white; /* Set the button text color */
    padding: 10px 15px; /* Adjust padding as needed */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.5s ease;
}
.event-contain button:hover {
    background-color: #d34f57; /* Darker maroon on hover */
}


/* RSVP Buttons */

.yesclass_txt button{
    background-color: #12ED7A; /* green-ish*/
    color: #116311; /* darker green*/
}

.yesclass_txt button:hover {
    background-color: #63F3A8; /* green-ish*/
    color: #147714; /* darker green*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.noclass_txt button{
    background-color:  #FF0047; /* pinkish */
    color: #470014;
}

.noclass_txt button:hover {
    background-color:#FF1A5A;
    color: #64001C;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
     font-weight: bold;
}

.yesclass button{
    background-color: #12ED7A; /* green-ish*/
    color: #116311; /* darker green*/

}

.yesclass button:hover {
    background-color: #63F3A8; /* green-ish*/
    color: #147714; /* darker green*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.noclass button{
    background-color: #FF0047; /* pinkish */
    color: #470014;
}

.noclass button:hover {
    background-color:#FF1A5A;
    color: #64001C;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
     font-weight: bold;
}

.non button{
    background-color: white;
    color: black;
}

.non button:hover{
    background-color: #E7E4E8;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.doneclass_txt button{
    background-color: #BF9595;
    color: #59181E;
}

.doneclass_txt button:hover{
    background-color: #BF9595;
    color: #59181E;
}

/*********************/
.options-container {
    width: 30%;
    max-width: 30%;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #333;
    margin: 1.5px 0;
    border-radius: 50%;
}

.options-menu {
    display: none;
    position: absolute;
    left: 21.5em;
    top: 75%;
    right: 10em;
    width: 8em;
    text-align:center;
    padding:1em 1em .5em 1em;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #59181E;
    background-color:#FFE3E3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.option {
    margin-bottom:.5em;
    cursor: pointer;
}

hr{
   border: .001em solid #59181E;
}

.options-menu.show {
    display: block;
}