body{
    background-color: #ffd6d6;
    margin: 0;
    margin-bottom: 5vh;
    padding: 0px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*height: 50vh; /* Adjust the height as needed */
    overflow: hidden;
}
.container {
    border: 3px solid #880b0b;
    border-radius: 30px;
    margin: 3vh auto;
    background-color: #ffbaba;
    padding: 10px;
    width: 30%;
    min-width: auto;
    text-align: left;
    font-family: monospace;
}
.container h1 {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.section {
    font-size: 15px;
    padding: 10px;
}
p{
    margin:0px;
    margin-left: 20px;
    margin-top: 10px;
}
textarea, select, input{
    padding: 5px;
    margin-bottom: 3vh;
    margin-right: 3vh;
    box-sizing: border-box;
    border: 2px solid #880b0b; /* Set the border color and width */
    border-radius: 8px; /* Add rounded corners */
    height: 35px;
    width: 225px;
    background-color: #fdcdcd;
}

textarea{
    height: 200px  ;
    width: auto;
}
.btnCon {
    text-align: right;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #880b0b; /* Set the button background color */
    color: white; /* Set the button text color */
    padding: 10px 15px; /* Adjust padding as needed */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.5s ease;
}
button:hover {
    background-color: #d34f57; /* Darker maroon on hover */
}